.chat_main 
  .main-header
    .header-left
      %p.left-box 
        .left-box-username
          = @group.name
      %p.left-box-u 
        member:
        - @group.users.each do |user|
          = user.name
    .edit-btm
      = link_to edit_group_path(@group) do 
        Edit

  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .input_box
        = f.text_field :content, class: 'input_text', placeholder: 'type a message'
        = f.label :image, class:'from__input__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'from__submit-btn'
        
        