.chat_side
  .side_header
    .side_box
      %p.user-name 
        = current_user.name
      %ul.news_list
        %li.new_group
          = link_to new_group_path do
            = icon('fas', 'edit')
        %li.edit_user
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')

  .groups
    - current_user.groups.each do |group|
      = link_to group_messages_path(group[:id]), class:"group" do
        .group_name
          = group.name
        .group_message
          = group.show_last_message